@media only screen and (max-width: 767px) {
    .body {
        width: 80%;
        margin: 0 auto;
    }
    .header {
        width: 250px;
    }
    .right {
        width: 100px;
    }
    .footer {
        width: 250px;
    }
}
@media only screen and (max-width: 479px) {
    .header {
        width: 150px;
    }
    .left {
        float: none;
    }
    .right {
        width: 150px;
        float: none;
    }
    .footer {
        width: 150px;
    } 
    
}